{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stévillis' Site</title>

    <link rel="shortcut icon" href="{% static 'mysite/img/logo.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/style.css' %}" /> -->
    <link rel="stylesheet" type="text/css" href="https://stevillis.github.io/style/storage/my-site.css">
</head>

<body class="bg-shark">
    <!-- Navbar -->
    <header class="sticky border-b-2 top-0 z-50 bg-shark border-rose">
        <div class="flex justify-between items-center py-5 mx-4 md:px-20">
            <div>
                <a href="{% url 'index' %}">
                    <img src="{% static 'mysite/img/logo.png' %}" alt="Logo" class="w-20">
                </a>
            </div>
            <i class="fas fa-bars text-white text-3xl hover:text-rose md:hidden"></i>
            <div class="items-end flex-1 text-white font-bold hidden md:flex">
                <nav class="flex-1">
                    <ul class="flex justify-end flex-1">
                        <li class="px-4">
                            <a href="{% url 'projects' %}" class="hover:text-rose">
                                Projetos
                            </a>
                        </li>
                        <li class="px-4">
                            <a href="#" class="hover:text-rose">
                                Formações
                            </a>
                        </li>
                        <li class="px-4">
                            <a href="#" class="hover:text-rose">
                                Sobre
                            </a>
                        </li>
                        <li class="px-4">
                            <a href="#" class="hover:text-rose">
                                Contato
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Content -->
    <main class="md:px-20">
        {% block conteudo %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="mx-4 py-5 bg-shark md:px-20">
        <hr class="text-white">
        <div class="flex justify-between items-center text-white">
            <p class="text-gray-400 text-xs">&copy; {% now 'Y' %} Stévillis Sousa</p>
            <ul class="flex justify-center">
                <li class="flex items-center justify-evenly text-2xl h-12 rounded-full hover:text-rose mx-2">
                    <a href="https://www.linkedin.com/in/stevillis/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
                <li class="flex items-center justify-evenly text-2xl h-12 rounded-full hover:text-rose mx-2">
                    <a href="https://github.com/stevillis" target="_blank"><i class="fab fa-github"></i></a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>