{% extends 'base.html' %}
{% load custom_tags %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Formations' %}
{% endblock title %}

{% block content %}
    <h1 class="text-4xl text-center mt-10 text-rose md:text-7xl">{% trans 'Formations' %}</h1>
    <div class="min-h-screen mt-10">
        {% for formation in formations_qs %}
            <div class="text-center" id="formation-{{ formation.pk }}">
                <p class="text-amber text-4xl font-semibold">
                    {{ formation }} - {{ formation.courses.first.institution.name }}
                </p>
                <p class="text-amber text-center text-2xl font-semibold">
                    {{ formation.courses.count }} {% trans 'courses' %} -
                    {% if formation.workload %}
                        {{ formation.workload }}
                    {% else %}
                        {% calculate_formation_workload formation.pk %}
                    {% endif %}
                    {% trans 'hours' %}
                    <br>
                </p>
                <p class="text-sm text-springgreen">{% trans 'Start date' %}: {{ formation.start_date }}</p>
                <p class="text-sm text-springgreen">
                    {% trans 'End date' %}:
                    {% if formation.end_date %}
                        {{ formation.end_date }}
                    {% else %}
                        {% trans 'Not concluded' %}
                    {% endif %}
                </p>
            </div>
            <div class="grid grid-cols-1 p-4 gap-4 select-none mb-32 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">
                {% for course in formation.courses.all %}
                    <div class="w-full cursor-pointer rounded-md shadow-md shadow-gray-200 bg-tuna hover:shadow-2xl hover:bg-emperor">
                        <div class="p-4">
                            <p class="text-amber text-xl font-semibold py-2">
                                <span>{{ course.name }}<br>
                                </span>
                                <span class="text-sm">{{ course.workload }} {% trans 'hours' %}</span>
                            </p>
                            <p class="font-semibold text-base">
                                {% trans 'Description' %}:<br>
                            </p>
                            <p class="font-light text-gray-700 text-justify line-clamp-3">
                                {{ course.description|default_if_none:''|stringformat:'.200s' }}...<br>
                                <span class="inline-block mt-2">
                                    <a href="{% url 'course' course.pk %}" class="hover:underline hover:text-amber">
                                        {% trans 'See more' %}
                                    </a>
                                </span>
                            </p>
                            <div class="flex flex-wrap mt-4 space-x-4 align-bottom">
                                <div class="flex flex-col space-y-0">
                                    <p class="font-semibold text-base">
                                        {% trans 'Categorys' %}:<br>
                                        {% for category in course.categories.all %}
                                            <a href="#" class="hover:underline hover:text-amber">{{ category.name }}</a>
                                            &nbsp;
                                        {% endfor %}
                                    </p>
                                    <p class="font-semibold text-sm text-springgreen">
                                        {% trans 'Start date' %}: {{ course.start_date }}
                                    </p>
                                    <p class="font-semibold text-sm text-springgreen">
                                        {% trans 'End date' %}:
                                        {% if course.end_date %}
                                            {{ course.end_date }}
                                        {% else %}
                                            {% trans 'Not concluded' %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
