{% extends 'base.html' %}
{% load i18n %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="flex flex-col justify-center text-center h-screen">
    <p class="text-white text-3xl md:text-5xl">
        {% trans 'Site em desenvolvimento' %}... <i class="fas fa-tools"></i>
    </p>

    <iframe class="w-auto h-4/5 mt-10" src="https://www.youtube.com/embed/Dm8Y2EPeVug" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <span class="text-white mt-3">{% trans 'Vídeo de Apresentação - Oficina de Django ministrada por mim' %}</span>
</div>
{% endblock content %}