{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans 'Projetos' %}
{% endblock title %}

{% block content %}
<h1 class="text-5xl text-center mt-10 text-rose md:text-7xl">{% trans 'Projetos'%}</h1>
<div class="grid grid-cols-1 my-10 text-white">
    <div class="bg-tuna">
        <div class="py-5 px-7 m-4">
            <h2 class="text-center text-4xl pb-10 hover:text-rose">
                <a href="https://obscure-badlands-07952.herokuapp.com" target="_blank">
                    {% trans 'Sistema de Registro de Certificados e Diplomas' %}
                </a>
            </h2>
            <img src="{% static 'mysite/img/registro-diploma-preview.png' %}"
                alt="{% trans 'Sistema de Registro de Certificados e Diplomas' %}" class="" />
            <div class="flex justify-between pt-5">
                <h3 class="text-center text-xl">
                    {% trans 'Status' %}: <span class="text-amber">{% trans 'Em desenvolvimento' %}</span>
                </h3>
                <h3 class="text-center text-xl">
                    {% trans 'Tecnologias' %}: Django, HTML, CSS, JavaScript, Bootstrap, PostgreSQL
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock content %}