{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans 'Projetos' %}
{% endblock title %}

{% block content %}
<h1 class="text-4xl text-center mt-10 text-rose md:text-7xl">{% trans 'Projects'%}</h1>
<div class="grid grid-cols-1 my-10 text-white">
    <div class="bg-tuna">
        <div class="py-5 px-7 m-4">
            <h2 class="text-center text-4xl pb-10">
                {% trans 'Sistema de Registro de Certificados e Diplomas' %}
            </h2>
            <img src="{% static 'mysite/img/registro-diploma-preview.png' %}"
                alt="{% trans 'Sistema de Registro de Certificados e Diplomas' %}" class="" />
            <div class="pt-5 md:flex md:justify-between">
                <h3 class="text-center text-xl">
                    {% trans 'Status' %}: <span class="text-amber">{% trans 'Under development' %}</span>
                </h3>
                <h3 class="mt-1 text-center text-xl md:mt-0">
                    {% trans 'Tecnologies' %}: Django, HTML, CSS, JavaScript, Bootstrap, PostgreSQL
                </h3>
            </div>
            <div class="flex justify-center mt-10 items-center">
                <div>
                    <div>
                        <a href="https://obscure-badlands-07952.herokuapp.com" target="_blank"
                            class="text-rose bg-white p-2 rounded-md h-auto hover:text-white hover:bg-rose">
                            {% trans 'Live Preview' %}
                        </a>
                    </div>
                    <div class="mt-5">
                        <span>{% trans 'User' %}: admin</span><br>
                        <span>{% trans 'Password' %}: 123456</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
